!!! 5
%html
  %head
    %title
      Your Website
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{ :href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
  %body
    %header
      %nav
        %ul
          %li
            Menu Item

    %section
      .container
        %h2
          Article Title
        %p
          This is a test
      %footer
        %p
          Copyright 2011 My Name